### Jupyter notebook to distill GRFP Awardee results

I made this notebook because I was curious about the distribution of GRFP awards by institution and discipline and I'm currently learning Python and git. If you have suggestions or changes, please feel free to provide feedback.

The output is all below, but if you wish to rerun it yourself (perhaps with a different year), then make your changes and press the "Run" button above to step through each cell. Press the "fast forward" button to rerun the whole notebook from start to finish.

The fields in the data file should be "Name", "Baccalaureate Institution", "Field of Study", and "Current Institution". 

Note that NSF used commas as the separator AND inside the fields, which makes importing the data very annoying. As such, I've only labeled the first three columns here. The other columns are labeled "Extra*" and will be used when we search for key words like "engineering" or "ocean".

I noticed that commas inside the fields always have a space after them, and the commas used as separators don't have a space. There should be a way to use regular expressions to handle this.

In [1]:
import pandas as pd
import csv

In [2]:
year = 2021 #Change the year here to 2021, 2020, or 2019 and rerun the code 
GRFP = pd.read_csv(str(year) + 'GRFPAwardeeList.csv', sep=',',
                   names=['Last', 'First', 'BaccalaureateInstitution', 
                          'Extra', 'Extra2', 'Extra3', 'Extra4']
                  )
GRFP.head() # preview the head of the GRFP dataframe just created

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
0,Abdo,Emily Eugenia,Princeton University,Engineering - Chemical Engineering,NaN,NaN,NaN
1,Abed,Ahmad Matar,University of Puerto Rico at Humacao,Materials Research - Electronic Materials,University of Michigan - Ann Arbor,NaN,NaN
2,Abel,Charlotte magalie,California Polytechnic State University,Social Sciences - Sociology,University of California-Los Angeles,NaN,NaN
3,Abellera,Marriah,University of California-Santa Barbara,Engineering - Environmental Engineering,NaN,NaN,NaN
4,Abubakare,Oluwatobi,University of Rochester,Psychology - Social Psychology,Harvard University,NaN,NaN

### Which baccalaureate instututions had the most awardees?
As I said above, they used commas as both their separator and in the fields. This creates issues for everything downstream of baccalaureate institution. Creative solutions welcome...

This call includes engineering, which seems to swamp the other disciplines.

In [3]:
GRFP_byBaccInst = GRFP.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccInst.head(20)

BaccalaureateInstitution
UNIVERSITY OF CALIFORNIA                             64
Massachusetts Institute of Technology                61
Stanford University                                  42
Georgia Institute of Technology                      33
University of Chicago                                33
Yale University                                      31
Cornell University                                   29
University of Texas at Austin                        29
Regents of the University of Michigan - Ann Arbor    29
University of Florida                                28
Harvard University                                   27
UNIVERSITY OF WASHINGTON                             27
Princeton University                                 26
Brown University                                     25
Columbia University                                  25
University of Minnesota-Twin Cities                  22
Northwestern University                              21
University of Illinois at Urbana-Champaign           20
University of California-Santa Barbara               20
William Marsh Rice University                        20
dtype: int64

### Did anyone who got a Bachelor's at USF get an award?

In [4]:
GRFP[GRFP['BaccalaureateInstitution'].str.contains("University of South Florida", case=False)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
1984,Withers,Zachary Hoyt,University of South Florida,Physics and Astronomy - Solid State Physics,University of South Florida,NaN,NaN

### Did anyone who is currently at USF get an award?
(This will also include those who got bachelor's from USF)

In [5]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('University of South Florida', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
1984,Withers,Zachary Hoyt,University of South Florida,Physics and Astronomy - Solid State Physics,University of South Florida,NaN,NaN

### Let's look at just Florida institutions

In [6]:
GRFP_byBaccFLInst = GRFP[GRFP['BaccalaureateInstitution'].str.contains("Florida")].groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccFLInst

BaccalaureateInstitution
University of Florida                                  28
Florida International University                        9
New College of Florida                                  5
University of Central Florida                           4
Florida Atlantic University                             2
Florida Gulf Coast University                           2
Florida State University                                2
Florida Agricultural and Mechanical University          1
Florida Southern College                                1
The University of Central Florida Board of Trustees     1
University of North Florida                             1
University of South Florida                             1
dtype: int64

### Which programs at UF are producing lots of grads who receive awards?

In [7]:
GRFP[GRFP['BaccalaureateInstitution'].str.contains("University of Florida", case=False)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
29,Allen,Anthony,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
31,Alomar,Nathalie Marie,University of Florida,Life Sciences - Ecology,University of Florida,NaN,NaN
68,Astrab,Leilani,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
106,Beaudry,David,University of Florida,Engineering - Materials Engineering,Johns Hopkins University,NaN,NaN
205,Buckner,Samuel Clark,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
251,Carroll,Katherine Caprice,University of Florida,Life Sciences - Ecology,University of Florida,NaN,NaN
424,Diaz,Maximillian,University of Florida,Engineering - Biomedical Engineering,University of Florida,NaN,NaN
488,Elie,Anne-Ketura,University of Florida,Psychology - Social Psychology,NaN,NaN,NaN
538,Ficarrotta,Joseph Michael,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
641,Gonzalez,Natalia Pilar,University of Florida,Engineering - Mechanical Engineering,University of Florida,NaN,NaN
644,Gonzalez,Gorana Tavia,University of Florida,Psychology - Developmental Psychology,University of Massachusetts Amherst,NaN,NaN
678,Grubb,Mackenzie,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
743,Henderson,Aria Renee,University of Florida,Engineering - Biomedical Engineering,Cornell University,NaN,NaN
856,Jimenez,Angela Cristina,University of Florida,Engineering - Biomedical Engineering,Georgia Institute of Technology,NaN,NaN
946,Kleckner,Kaylin Grace,University of Florida,Life Sciences - Other (specify) - Entomology,University of Florida,NaN,NaN
951,Knight,Parker,University of Florida,Mathematical Sciences - Biostatistics,University of Florida,NaN,NaN
1307,Natherson,Robyn,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
1366,Pacheco,Yan Carlos,University of Florida,Engineering - Biomedical Engineering,University of Florida,NaN,NaN
1450,Porrello,Christian,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
1523,Reyes,Amanda Ashley,University of Florida,Life Sciences - Ecology,NaN,NaN,NaN
1544,Rivas,Andy,University of Florida,Engineering - Nuclear Engineering,North Carolina State University,NaN,NaN
1607,Sakr,Adrian K,University of Florida,Engineering - Environmental Engineering,University of Florida,NaN,NaN
1679,Shuping,Alexander Gabriel,University of Florida,Engineering - Computer Engineering,University of Florida,NaN,NaN
1735,Steinebronn,Emma Kate,University of Florida,Materials Research - Quantum Information Science,University of Florida,NaN,NaN
1764,Suen,Daniel,University of Florida,Mathematical Sciences - Statistics,University of Washington,NaN,NaN
1889,Vieira,Annelise,University of Florida,Life Sciences - Genetics,University of Florida,NaN,NaN
1961,Wiech,Kathy Julie,University of Florida,Physics and Astronomy - Astronomy and Astrophy...,University of Florida,NaN,NaN
2034,Young,Isabella,University of Florida,Engineering - Biomedical Engineering,University of North Carolina at Chapel Hill,NaN,NaN

## Remember, for 2021 (due in Oct 2020) they had priority areas which were "Artificial Intelligence, Quantum Information Science, and Computationally Intensive Research"
https://www.nsf.gov/pubs/2020/nsf20587/nsf20587.htm

https://www.nature.com/articles/d41586-020-02272-x

We might expect that this would lead to more awardees in certain types of departments. How many applicants have "engineering" in their discipline, baccalaureate, or current institution name?

You can rerun this notebook again to get results for 2019 and 2020, but here are the three years of results:

For 2021, it's 658 out of 2074 awardees.

For 2020, it's 655 out of 2076 awardees.

For 2019, it's 605 out of 2052 awardees.

In [8]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Engineering', case=False).any(), axis=1)].count()

Last                        658
First                       658
BaccalaureateInstitution    658
Extra                       658
Extra2                      629
Extra3                       44
Extra4                       17
dtype: int64

In [9]:
GRFP.count() #total applicants

Last                        2074
First                       2074
BaccalaureateInstitution    2074
Extra                       2074
Extra2                      1848
Extra3                       233
Extra4                       111
dtype: int64

##### What about for "Computer"?
You can rerun this notebook again to get results for 2019 and 2020, but here are the three years of results:

For 2021, it's 66 out of 2074 awardees.

For 2020, it's 67 out of 2076 awardees.

For 2019, it's 65 out of 2052 awardees.

In [10]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Computer', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
10,Adler,Daniel Alexander,JOHNS HOPKINS UNIVERSITY,Comp/IS/Eng - Human Computer Interaction,Cornell University,NaN,NaN
19,Alam,Sabriya Maryam,Purdue University,Engineering - Computer Engineering,Purdue University,NaN,NaN
25,Alemany Blanco,Sheila,Florida International University,Comp/IS/Eng - Computer Security and Privacy,Florida International University,NaN,NaN
51,Ankrah,Elizabeth A,George Mason University,Comp/IS/Eng - Human Computer Interaction,University of California-Irvine,NaN,NaN
62,Arias,Felipe Felix,University of Illinois at Urbana-Champaign,Comp/IS/Eng - Robotics and Computer Vision,University of Illinois at Urbana-Champaign,NaN,NaN
...,...,...,...,...,...,...,...
1948,Werling,Keenon Ford,Stanford University,Comp/IS/Eng - Robotics and Computer Vision,Stanford University,NaN,NaN
2010,Xia,Wenhan,CORNELL UNIVERSITY,Engineering - Computer Engineering,Princeton University,NaN,NaN
2017,Yagati,Samyukta,Massachusetts Institute of Technology,Comp/IS/Eng - Computer Security and Privacy,UNIVERSITY OF CALIFORNIA,BERKELEY,NaN
2027,Yi,Brent H,UNIVERSITY OF CALIFORNIA,BERKELEY,Comp/IS/Eng - Robotics and Computer Vision,Stanford University,NaN
2070,Zuckerman,Joseph Harry,Harvard University,Comp/IS/Eng - Computer Architecture,Columbia University,NaN,NaN

In [11]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Computer', case=False).any(), axis=1)].count()

Last                        66
First                       66
BaccalaureateInstitution    66
Extra                       66
Extra2                      64
Extra3                      10
Extra4                       5
dtype: int64

### I see no significant difference in the number awardees in engineering and computer science in 2021 relative to 2020 and 2019.  

### Now let's look only at geosciences:
There were 99 awards total in Geosciences in 2021.

In [12]:
GRFP_Geo = GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Geosciences -', case=False).any(), axis=1)]
GRFP_Geo.count()

Last                        99
First                       99
BaccalaureateInstitution    99
Extra                       99
Extra2                      74
Extra3                       5
Extra4                       2
dtype: int64

In [13]:
GRFP_Geo_byBaccInst = GRFP_Geo.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_Geo_byBaccInst.head(20)

BaccalaureateInstitution
UNIVERSITY OF CALIFORNIA              3
William Marsh Rice University         2
Florida International University      2
Princeton University                  2
UNIVERSITY OF WASHINGTON              2
Northwestern University               2
University of California-Berkeley     2
University of California-Davis        2
Hampton University                    2
Harvard University                    2
Stanford University                   2
California Institute of Technology    2
Carleton College                      2
University of Texas at Austin         2
UNIVERSITY OF VIRGINIA                1
University of California - Merced     1
University of Arizona                 1
University of  Puget Sound            1
University of Texas at Dallas         1
UNIVERSITY OF MIAMI                   1
dtype: int64

### How many awards in Oceanography?
In 2021, there were 15, and only 2 in chemical oceanography.

In 2020, there were 17, and 6 in chemical oceanography.

In 2019, there were 13, and 4 in chemical oceanography.

In [14]:
GRFP_Geo[GRFP_Geo.apply(lambda row: row.astype(str).str.contains('Oceanography', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
159,Bonan,David B,University of Washington,Geosciences - Physical Oceanography,California Institute of Technology,NaN,NaN
402,de Leon Sanchez,Erin Esther,University of California-Davis,Geosciences - Biological Oceanography,University of California-Santa Barbara,NaN,NaN
563,Formby-Fernandez,Adriana Denise,Embry-Riddle Aeronautical University,Geosciences - Physical Oceanography,Embry-Riddle Aeronautical University,NaN,NaN
686,Guerra,Alexis Danielle,University of California-Irvine,Geosciences - Biological Oceanography,University of California-Irvine,NaN,NaN
690,Gunnells,Shelby Ann,North Dakota State University Fargo,Geosciences - Chemical Oceanography,North Dakota State University Fargo,NaN,NaN
1028,Layton,Janelle Monet,Hampton University,Geosciences - Biological Oceanography,Oregon State University,NaN,NaN
1085,Litle,John,Pomona College,Geosciences - Biological Oceanography,UNIVERSITY OF WASHINGTON,NaN,NaN
1210,McDonald,Adriane Michelle,Spelman College,Geosciences - Biological Oceanography,University of California-Santa Barbara,NaN,NaN
1414,Perez,Elena Kathleen,Rensselaer Polytechnic Institute,Geosciences - Physical Oceanography,NaN,NaN,NaN
1573,Rogers,Mason,Stanford University,Geosciences - Physical Oceanography,Massachusetts Institute of Technology,NaN,NaN
1633,Sawkins,Allyson Christine,UNIVERSITY OF CALIFORNIA SAN DIEGO,Geosciences - Biological Oceanography,University of California-Santa Cruz,NaN,NaN
1645,Schultz,Haila Kathleen,University of Puget Sound,Geosciences - Biological Oceanography,UNIVERSITY OF WASHINGTON,NaN,NaN
1752,Stoner-Osborne,Blake Robert,UNIVERSITY OF CALIFORNIA,BERKELEY,Geosciences - Biological Oceanography,UNIVERSITY OF CALIFORNIA,BERKELEY
1810,Thomas,Elaina Grace,Carleton College,Geosciences - Biological Oceanography,NaN,NaN,NaN
1932,Warren,Treasure A,University of California-Davis,Geosciences - Chemical Oceanography,NaN,NaN,NaN

In [15]:
GRFP_Geo[GRFP_Geo.apply(lambda row: row.astype(str).str.contains('Oceanography', case=False).any(), axis=1)].count()

Last                        15
First                       15
BaccalaureateInstitution    15
Extra                       15
Extra2                      12
Extra3                       1
Extra4                       1
dtype: int64

## How many in Marine Biology?
In 2021, there were 12.

In 2020, there were 10.

In 2019, there were 12.

In [16]:
GRFP_Geo[GRFP_Geo.apply(lambda row: row.astype(str).str.contains('Marine Biology', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
218,Bushnell,Elizabeth Josephine,University of San Diego,Geosciences - Marine Biology,NaN,NaN,NaN
230,Caldwell,Aliya Everest,Rutgers University New Brunswick,Geosciences - Marine Biology,University of New Hampshire,NaN,NaN
341,Collins,Stormie Blayze,Florida International University,Geosciences - Marine Biology,NaN,NaN,NaN
350,Cook McNab,Aimee Arielle,Texas A&M University at Galveston,Geosciences - Marine Biology,NaN,NaN,NaN
531,Fenwick,Ileana Faye,Hampton University,Geosciences - Marine Biology,UNIVERSITY OF NORTH CAROLINA AT CHAPEL HILL,NaN,NaN
844,Jarman,Cheyenne Nicole,University of California-Santa Cruz,Geosciences - Marine Biology,Oregon State University,NaN,NaN
862,Johnson,Carter,UNIVERSITY OF WASHINGTON,Geosciences - Marine Biology,NaN,NaN,NaN
1218,McLean,Josette Elena Trisha,St. George's University,Geosciences - Marine Biology,Hampton University,NaN,NaN
1273,Moore,Malia Leilani,University of California-Berkeley,Geosciences - Marine Biology,UNIVERSITY OF CALIFORNIA SAN DIEGO,NaN,NaN
1332,Nodal,Andrea Alejandra,Florida International University,Geosciences - Marine Biology,NaN,NaN,NaN
1699,Sleugh,Toni Robyn,Iowa State University,Geosciences - Marine Biology,Iowa State University,NaN,NaN
1919,Wang,Terrance,UNIVERSITY OF CALIFORNIA,BERKELEY,Geosciences - Marine Biology,NaN,NaN

In [17]:
GRFP_Geo[GRFP_Geo.apply(lambda row: row.astype(str).str.contains('Marine Biology', case=False).any(), axis=1)].count()

Last                        12
First                       12
BaccalaureateInstitution    12
Extra                       12
Extra2                       7
Extra3                       0
Extra4                       0
dtype: int64

### Maybe people in chemical oceanography applied under other disciplines? What if we widen the search back out to the entire awardee list and search for just "chem"?
315 in 2021

316 in 2020

312 in 2019

In [18]:
GRFP_chem = GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Chem', case=False).any(), axis=1)]
GRFP_chem

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
0,Abdo,Emily Eugenia,Princeton University,Engineering - Chemical Engineering,NaN,NaN,NaN
9,Adams,Alexandra Mae,MIAMI UNIVERSITY,Engineering - Chemical Engineering,MIAMI UNIVERSITY,NaN,NaN
14,Aguilar,Jerod,University of Oregon Eugene,Geosciences - Geochemistry,University of Oregon Eugene,NaN,NaN
15,Aguilar-Martinez,Scarlet Zaaruck,Old Dominion University,Chemistry - Environmental Chemical Systems,Old Dominion University,NaN,NaN
26,Ali,Rasidah Olubukola,Texas Southern University,Chemistry - Chemical Theory,Models and Computational Methods,Louisiana State University,NaN
...,...,...,...,...,...,...,...
2035,Young,Haley Lynn,Elizabethtown College,Chemistry - Chemical Synthesis,The Pennsylvania State University,NaN,NaN
2036,Younis,Ali Tareq,UNIVERSITY OF CENTRAL FLORIDA BOARD OF TRUSTEES,THE,Chemistry - Other (specify) - Bioinorganic,University of California-Irvine,NaN
2038,Yu,Isaac Fu-Ray,National Taiwan University,Chemistry - Chemical Catalysis,UNIVERSITY OF CALIFORNIA,BERKELEY,NaN
2043,Zakaria,Nicholas Isaac,University of California-Santa Barbara,Engineering - Chemical Engineering,University of California-Berkeley,NaN,NaN
2063,Zhu,Angela Diane,JOHNS HOPKINS UNIVERSITY,Engineering - Chemical Engineering,JOHNS HOPKINS UNIVERSITY,NaN,NaN

###### What about "Geochemistry"? (includes Biogeochemistry)
7 in 2021

6 in 2020

14 in 2019

In [19]:
GRFP_chem = GRFP[GRFP.apply(lambda row: row.astype(str).str.contains(' Geochemistry', case=False).any(), axis=1)]
GRFP_chem

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
14,Aguilar,Jerod,University of Oregon Eugene,Geosciences - Geochemistry,University of Oregon Eugene,NaN,NaN
257,Casaus,Justin Gilbert,Sonoma State University,Geosciences - Geochemistry,University of Michigan - Ann Arbor,NaN,NaN
372,Crotteau,Molly,California Institute of Technology,Geosciences - Geochemistry,California Institute of Technology,NaN,NaN
374,Crucilla,Sarah Josephine,California Institute of Technology,Geosciences - Geochemistry,NaN,NaN,NaN
685,Guenther,Mirae Katherine,Kalamazoo College,Geosciences - Geochemistry,NaN,NaN,NaN
1567,Rodriguez,Virginia Gisela,California State University-Bakersfield,Geosciences - Geochemistry,University of Notre Dame,NaN,NaN
1880,Vejar,Manuel Rafael,California State Polytechnic University-Pomona,Geosciences - Other (specify) - Actinide geoch...,University of Notre Dame,NaN,NaN

In [20]:
GRFP_chem.count()

Last                        7
First                       7
BaccalaureateInstitution    7
Extra                       7
Extra2                      5
Extra3                      0
Extra4                      0
dtype: int64