### Jupyter notebook to distill GRFP Awardee results

The fields in the data file should be "Name", "Baccalaureate Institution", "Field of Study", and "Current Institution". 

Note that NSF used commas as the separator AND inside the fields, which makes importing the data very annoying. As such, I've only labeled the first three columns here (Last name, First name, Baccalaureate Institution). The other columns are labeled "Extra*" and will be used when we search for key words like "engineering" or "ocean".

In [1]:
import pandas as pd

In [2]:
GRFP = pd.read_csv('2021GRFPAwardeeList.csv', sep=',',
                   names=['Last', 'First', 'BaccalaureateInstitution', 
                          'Extra', 'Extra2', 'Extra3', 'Extra4']
                  )
GRFP_HM = pd.read_csv('2021GRFPHonorableMention.csv', sep=',',
                   names=['Last', 'First', 'BaccalaureateInstitution', 
                          'Extra', 'Extra2', 'Extra3', 'Extra4']
                  )
GRFP.head() # preview the head of the dataframe

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
0,Abdo,Emily Eugenia,Princeton University,Engineering - Chemical Engineering,NaN,NaN,NaN
1,Abed,Ahmad Matar,University of Puerto Rico at Humacao,Materials Research - Electronic Materials,University of Michigan - Ann Arbor,NaN,NaN
2,Abel,Charlotte magalie,California Polytechnic State University,Social Sciences - Sociology,University of California-Los Angeles,NaN,NaN
3,Abellera,Marriah,University of California-Santa Barbara,Engineering - Environmental Engineering,NaN,NaN,NaN
4,Abubakare,Oluwatobi,University of Rochester,Psychology - Social Psychology,Harvard University,NaN,NaN

### Which baccalaureate instututions had the most awardees in 2021?
As I said above, they used commas as both their separator and in the fields. This creates issues for everything downstream of baccalaureate institution. Creative solutions welcome...

In [3]:
GRFP_byBaccInst = GRFP.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccInst.head(20)

BaccalaureateInstitution
UNIVERSITY OF CALIFORNIA                             64
Massachusetts Institute of Technology                61
Stanford University                                  42
Georgia Institute of Technology                      33
University of Chicago                                33
Yale University                                      31
Cornell University                                   29
University of Texas at Austin                        29
Regents of the University of Michigan - Ann Arbor    29
University of Florida                                28
Harvard University                                   27
UNIVERSITY OF WASHINGTON                             27
Princeton University                                 26
Brown University                                     25
Columbia University                                  25
University of Minnesota-Twin Cities                  22
Northwestern University                              21
University of Illinois at Urbana-Champaign           20
University of California-Santa Barbara               20
William Marsh Rice University                        20
dtype: int64

### Did anyone who got a Bachelor's at USF get an award in 2021?

In [4]:
GRFP[GRFP['BaccalaureateInstitution'].str.contains("University of South Florida", case=False)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
1984,Withers,Zachary Hoyt,University of South Florida,Physics and Astronomy - Solid State Physics,University of South Florida,NaN,NaN

### Did anyone who is currently at USF get an award in 2021?
(This will also include those who got bachelor's from USF)

In [5]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('University of South Florida', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
1984,Withers,Zachary Hoyt,University of South Florida,Physics and Astronomy - Solid State Physics,University of South Florida,NaN,NaN

### Which baccalaureate instututions had the most honorable mentions in 2021?

In [6]:
GRFP_HMbyBaccInst = GRFP_HM.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_HMbyBaccInst.head(20)

BaccalaureateInstitution
UNIVERSITY OF CALIFORNIA                      67
Massachusetts Institute of Technology         31
University of California-Los Angeles          29
University of Texas at Austin                 26
Yale University                               24
Cornell University                            23
University of Chicago                         22
UNIVERSITY OF CALIFORNIA SAN DIEGO            22
Columbia University                           21
University of Pennsylvania                    21
University of Florida                         19
University of California-Irvine               19
Pennsylvania State Univ University Park       18
University of Colorado at Boulder             18
Princeton University                          18
UNIVERSITY OF WASHINGTON                      18
University of California-Davis                18
Brown University                              17
University of Wisconsin-Madison               16
University of Illinois at Urbana-Champaign    15
dtype: int64

### Let's look at just Florida institutions

In [7]:
GRFP_byBaccFLInst = GRFP[GRFP['BaccalaureateInstitution'].str.contains("Florida")].groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccFLInst

BaccalaureateInstitution
University of Florida                                  28
Florida International University                        9
New College of Florida                                  5
University of Central Florida                           4
Florida Atlantic University                             2
Florida Gulf Coast University                           2
Florida State University                                2
Florida Agricultural and Mechanical University          1
Florida Southern College                                1
The University of Central Florida Board of Trustees     1
University of North Florida                             1
University of South Florida                             1
dtype: int64

In [8]:
GRFP_HMbyBaccFLInst = GRFP_HM[GRFP_HM['BaccalaureateInstitution'].str.contains("Florida", case=False)].groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_HMbyBaccFLInst

BaccalaureateInstitution
University of Florida                       19
Florida International University             5
UNIVERSITY OF CENTRAL FLORIDA FOUNDATION     3
University of Central Florida                3
University of South Florida                  3
Florida State University                     2
New College of Florida                       2
Florida Atlantic University                  1
Florida Gulf Coast University                1
dtype: int64

### Why did UF grads get so many awards? Maybe it's because they have a specific type of program?
Remember, this year they encouraged "computationally intensive research." https://www.nature.com/articles/d41586-020-02272-x

Later in the notebook we will look at 2019 and 2020 to see if there were more awards given to certain types of programs in 2021 than in past years.

In [9]:
GRFP[GRFP['BaccalaureateInstitution'].str.contains("University of Florida", case=False)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
29,Allen,Anthony,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
31,Alomar,Nathalie Marie,University of Florida,Life Sciences - Ecology,University of Florida,NaN,NaN
68,Astrab,Leilani,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
106,Beaudry,David,University of Florida,Engineering - Materials Engineering,Johns Hopkins University,NaN,NaN
205,Buckner,Samuel Clark,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
251,Carroll,Katherine Caprice,University of Florida,Life Sciences - Ecology,University of Florida,NaN,NaN
424,Diaz,Maximillian,University of Florida,Engineering - Biomedical Engineering,University of Florida,NaN,NaN
488,Elie,Anne-Ketura,University of Florida,Psychology - Social Psychology,NaN,NaN,NaN
538,Ficarrotta,Joseph Michael,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
641,Gonzalez,Natalia Pilar,University of Florida,Engineering - Mechanical Engineering,University of Florida,NaN,NaN
644,Gonzalez,Gorana Tavia,University of Florida,Psychology - Developmental Psychology,University of Massachusetts Amherst,NaN,NaN
678,Grubb,Mackenzie,University of Florida,Engineering - Biomedical Engineering,UNIVERSITY OF VIRGINIA,NaN,NaN
743,Henderson,Aria Renee,University of Florida,Engineering - Biomedical Engineering,Cornell University,NaN,NaN
856,Jimenez,Angela Cristina,University of Florida,Engineering - Biomedical Engineering,Georgia Institute of Technology,NaN,NaN
946,Kleckner,Kaylin Grace,University of Florida,Life Sciences - Other (specify) - Entomology,University of Florida,NaN,NaN
951,Knight,Parker,University of Florida,Mathematical Sciences - Biostatistics,University of Florida,NaN,NaN
1307,Natherson,Robyn,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
1366,Pacheco,Yan Carlos,University of Florida,Engineering - Biomedical Engineering,University of Florida,NaN,NaN
1450,Porrello,Christian,University of Florida,Engineering - Aeronautical and Aerospace Engin...,University of Florida,NaN,NaN
1523,Reyes,Amanda Ashley,University of Florida,Life Sciences - Ecology,NaN,NaN,NaN
1544,Rivas,Andy,University of Florida,Engineering - Nuclear Engineering,North Carolina State University,NaN,NaN
1607,Sakr,Adrian K,University of Florida,Engineering - Environmental Engineering,University of Florida,NaN,NaN
1679,Shuping,Alexander Gabriel,University of Florida,Engineering - Computer Engineering,University of Florida,NaN,NaN
1735,Steinebronn,Emma Kate,University of Florida,Materials Research - Quantum Information Science,University of Florida,NaN,NaN
1764,Suen,Daniel,University of Florida,Mathematical Sciences - Statistics,University of Washington,NaN,NaN
1889,Vieira,Annelise,University of Florida,Life Sciences - Genetics,University of Florida,NaN,NaN
1961,Wiech,Kathy Julie,University of Florida,Physics and Astronomy - Astronomy and Astrophy...,University of Florida,NaN,NaN
2034,Young,Isabella,University of Florida,Engineering - Biomedical Engineering,University of North Carolina at Chapel Hill,NaN,NaN

### Did any people with the words "ocean" in their institutions' name or field of study get the award?

In [10]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Ocean', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
159,Bonan,David B,University of Washington,Geosciences - Physical Oceanography,California Institute of Technology,NaN,NaN
402,de Leon Sanchez,Erin Esther,University of California-Davis,Geosciences - Biological Oceanography,University of California-Santa Barbara,NaN,NaN
563,Formby-Fernandez,Adriana Denise,Embry-Riddle Aeronautical University,Geosciences - Physical Oceanography,Embry-Riddle Aeronautical University,NaN,NaN
686,Guerra,Alexis Danielle,University of California-Irvine,Geosciences - Biological Oceanography,University of California-Irvine,NaN,NaN
690,Gunnells,Shelby Ann,North Dakota State University Fargo,Geosciences - Chemical Oceanography,North Dakota State University Fargo,NaN,NaN
1028,Layton,Janelle Monet,Hampton University,Geosciences - Biological Oceanography,Oregon State University,NaN,NaN
1085,Litle,John,Pomona College,Geosciences - Biological Oceanography,UNIVERSITY OF WASHINGTON,NaN,NaN
1210,McDonald,Adriane Michelle,Spelman College,Geosciences - Biological Oceanography,University of California-Santa Barbara,NaN,NaN
1414,Perez,Elena Kathleen,Rensselaer Polytechnic Institute,Geosciences - Physical Oceanography,NaN,NaN,NaN
1573,Rogers,Mason,Stanford University,Geosciences - Physical Oceanography,Massachusetts Institute of Technology,NaN,NaN
1591,Runyan,Alexandra Tatyana,University of Hawaii at Hilo,Engineering - Ocean Engineering,University of Hawaii at Hilo,NaN,NaN
1633,Sawkins,Allyson Christine,UNIVERSITY OF CALIFORNIA SAN DIEGO,Geosciences - Biological Oceanography,University of California-Santa Cruz,NaN,NaN
1645,Schultz,Haila Kathleen,University of Puget Sound,Geosciences - Biological Oceanography,UNIVERSITY OF WASHINGTON,NaN,NaN
1752,Stoner-Osborne,Blake Robert,UNIVERSITY OF CALIFORNIA,BERKELEY,Geosciences - Biological Oceanography,UNIVERSITY OF CALIFORNIA,BERKELEY
1810,Thomas,Elaina Grace,Carleton College,Geosciences - Biological Oceanography,NaN,NaN,NaN
1932,Warren,Treasure A,University of California-Davis,Geosciences - Chemical Oceanography,NaN,NaN,NaN

### How about "marine"?

In [11]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Marine', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
218,Bushnell,Elizabeth Josephine,University of San Diego,Geosciences - Marine Biology,NaN,NaN,NaN
230,Caldwell,Aliya Everest,Rutgers University New Brunswick,Geosciences - Marine Biology,University of New Hampshire,NaN,NaN
341,Collins,Stormie Blayze,Florida International University,Geosciences - Marine Biology,NaN,NaN,NaN
350,Cook McNab,Aimee Arielle,Texas A&M University at Galveston,Geosciences - Marine Biology,NaN,NaN,NaN
531,Fenwick,Ileana Faye,Hampton University,Geosciences - Marine Biology,UNIVERSITY OF NORTH CAROLINA AT CHAPEL HILL,NaN,NaN
548,Fish,Kira Sabine,Cornell College,Geosciences - Marine Geology and Geophysics,NaN,NaN,NaN
844,Jarman,Cheyenne Nicole,University of California-Santa Cruz,Geosciences - Marine Biology,Oregon State University,NaN,NaN
862,Johnson,Carter,UNIVERSITY OF WASHINGTON,Geosciences - Marine Biology,NaN,NaN,NaN
1122,Luna,Crystal Trevino,University of Texas at Arlington,Geosciences - Marine Geology and Geophysics,University of Wyoming,NaN,NaN
1218,McLean,Josette Elena Trisha,St. George's University,Geosciences - Marine Biology,Hampton University,NaN,NaN
1273,Moore,Malia Leilani,University of California-Berkeley,Geosciences - Marine Biology,UNIVERSITY OF CALIFORNIA SAN DIEGO,NaN,NaN
1332,Nodal,Andrea Alejandra,Florida International University,Geosciences - Marine Biology,NaN,NaN,NaN
1699,Sleugh,Toni Robyn,Iowa State University,Geosciences - Marine Biology,Iowa State University,NaN,NaN
1919,Wang,Terrance,UNIVERSITY OF CALIFORNIA,BERKELEY,Geosciences - Marine Biology,NaN,NaN

### "Engineering"?
658 out of 2074 applicants. Is this different from previous years?

In [12]:
GRFP[GRFP.apply(lambda row: row.astype(str).str.contains('Engineering', case=False).any(), axis=1)].count()

Last                        658
First                       658
BaccalaureateInstitution    658
Extra                       658
Extra2                      629
Extra3                       44
Extra4                       17
dtype: int64

In [13]:
GRFP.count() #total applicants

Last                        2074
First                       2074
BaccalaureateInstitution    2074
Extra                       2074
Extra2                      1848
Extra3                       233
Extra4                       111
dtype: int64

## Now look at 2019 and 2020 as a comparison

In [14]:
GRFP2020 = pd.read_csv('2020GRFPAwardeeList.csv', sep=',',
                   names=['Last', 'First', 'BaccalaureateInstitution', 
                          'Extra', 'Extra2', 'Extra3', 'Extra4']
                  )
GRFP2019 = pd.read_csv('2019GRFPAwardeeList.csv', sep=',',
                   names=['Last', 'First', 'BaccalaureateInstitution', 
                          'Extra', 'Extra2', 'Extra3', 'Extra4']
                  )

In [15]:
GRFP_byBaccInst2019 = GRFP2019.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccInst2019.head(20)

BaccalaureateInstitution
UNIVERSITY OF CALIFORNIA                      91
Massachusetts Institute of Technology         78
Stanford University                           42
University of Michigan Ann Arbor              38
Princeton University                          33
Cornell University                            31
University of Texas at Austin                 29
University of Chicago                         26
Yale University                               24
Columbia University                           23
Harvard University                            23
California Institute of Technology            22
Northwestern University                       22
University of Wisconsin-Madison               22
University of California-Davis                21
UNIVERSITY OF CALIFORNIA SAN DIEGO            20
UNIVERSITY OF WASHINGTON                      20
North Carolina State University               20
University of Illinois at Urbana-Champaign    20
University of Florida                         20
dtype: int64

In [16]:
GRFP_byBaccInst2020 = GRFP2020.groupby('BaccalaureateInstitution').size().sort_values(ascending=False)
GRFP_byBaccInst2020.head(20)

BaccalaureateInstitution
Massachusetts Institute of Technology          68
UNIVERSITY OF CALIFORNIA                       65
University of Michigan Ann Arbor               34
Stanford University                            33
Columbia University                            32
University of Texas at Austin                  32
University of Chicago                          28
Brown University                               26
Princeton University                           26
Cornell University                             26
Georgia Institute of Technology                25
Northeastern University                        24
University of California-Los Angeles           23
Harvard University                             22
William Marsh Rice University                  22
Yale University                                22
University of Illinois at Urbana-Champaign     21
University of Wisconsin-Madison                21
University of North Carolina at Chapel Hill    20
Texas A&M University Main Campus               20
dtype: int64

In [17]:
GRFP2019[GRFP2019.apply(lambda row: row.astype(str).str.contains('University of South Florida', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
364,Costantino,Alexandria Nicole,University of South Florida,Physics and Astronomy - Particle Physics,University of California-Riverside,NaN,NaN
803,Icenhour,Daniel Gregory,University of South Florida,Chemistry - Chemistry of Life Processes,University of South Florida,NaN,NaN
881,Kearney,Kalyn Marie,University of South Florida,Engineering - Biomedical Engineering,University of Florida,NaN,NaN
1286,Noble,Mark Alan,University of South Florida,Life Sciences - Genetics,Yale University,NaN,NaN
1535,Schlafly,Millicent K,University of South Florida,Engineering - Mechanical Engineering,Northwestern University,NaN,NaN

# Hey, it's Delfina! Congratulations, Delfina!

In [18]:
GRFP2020[GRFP2020.apply(lambda row: row.astype(str).str.contains('University of South Florida', case=False).any(), axis=1)]

,Last,First,BaccalaureateInstitution,Extra,Extra2,Extra3,Extra4
159,Blackwell,Keller Lloyd,University of South Florida,Comp/IS/Eng - Algorithms and Theoretical Found...,University of South Florida,NaN,NaN
1157,McClinton,Willie B,University of South Florida,Comp/IS/Eng - Machine Learning,University of South Florida,NaN,NaN
1275,Navarro-Estrada,Delfina Paola,Humboldt State University Foundation,Geosciences - Chemical Oceanography,University of South Florida,NaN,NaN

### How many people with "engineering" in their name got GRFP in 2019?
605 out of 2052 applicants

In [19]:
GRFP2019[GRFP2019.apply(lambda row: row.astype(str).str.contains('Engineering', case=False).any(), axis=1)].count()

Last                        605
First                       605
BaccalaureateInstitution    605
Extra                       605
Extra2                      577
Extra3                       43
Extra4                       17
dtype: int64

In [20]:
GRFP2019.count()

Last                        2052
First                       2052
BaccalaureateInstitution    2052
Extra                       2052
Extra2                      1875
Extra3                       275
Extra4                       134
dtype: int64

### How many people with "engineering" in their name got GRFP in 2020?
655 out of 2076 applicants

In [21]:
GRFP2020[GRFP2020.apply(lambda row: row.astype(str).str.contains('Engineering', case=False).any(), axis=1)].count()

Last                        655
First                       655
BaccalaureateInstitution    655
Extra                       655
Extra2                      627
Extra3                       43
Extra4                       17
dtype: int64

In [22]:
GRFP2020.count()

Last                        2076
First                       2076
BaccalaureateInstitution    2076
Extra                       2076
Extra2                      1872
Extra3                       263
Extra4                       122
dtype: int64